<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="events.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let event of events">
    <mat-expansion-panel-header [ngStyle]="{'color': userId==event.creator? 'blue' : 'red'} ">
      {{ event.title }}
    </mat-expansion-panel-header>
    <p>Description: {{ event.description }}</p>
    <p>Start Date: {{event.startDate}}</p>
    <p>End Date: {{event.endDate}}</p>
    <p class="event-image">
      <img [src]="event.imagePath" [alt]="event.title">
    </p>
  <h3>Guests: </h3>
    <div *ngFor="let guest of event.guests">
      <div>
        {{guest}}
      </div>
    </div>
    <mat-action-row>
      <div *ngIf="userIsAuthenticated && userId===event.creator">
       <button mat-button color="warn" (click)="onDelete(event.id)">DELETE</button>
     </div>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalEvents" [pageSize]="eventsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
*ngIf="events.length > 0">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="events.length <= 0 && !isLoading">You havent added events yet!</p>
