agm-map{
  height: 520px;
  }

agm-info-window{
  height: 100px;
  width: 30%;
}
.example-margin {
  margin: 10px;
}

agm-marker{
  width: 10px;
  height: 10px;
}


.spacer {
  margin-left: 200px;
  flex: 50px;
}

.findMeBtn{
  padding: 0;
  margin: 0;
}

.event-image {
  width: 5%;
  height: 10%;
}

.event-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
